html, body {
    height: 100%;
    margin: 0;
    color:#fff;
    overflow: hidden;
    
}
.bg{
    background: linear-gradient(156.85deg, #0A4B85 19.36%, #002342 86.56%);
    min-height: 100%;
}
::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.64);
    border-radius: 12px;
  }
@font-face {
    font-family: 'GothamPro';
    src:  local('../fonts/gothampro/gothampro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
/*
p, span, h1, div{
    font-family: 'GothamPro', sans !important;
}*/