<template>
  <div @click="goToPage1">
    <div class="bg-img-con">
      <img class="bg-img animated" src="../assets/img/Background.png" alt />
    </div>

    <div class="block animated">
      <img v-if="this.changes" style="width: 750px;height: 100px;" src="../assets/img/logo.png" alt />
      <h1 v-else class="logo-text">Дізнайтесь, хто переможе: ви чи штучний інтелект</h1>
    </div>

    <div class="try-btn animated" @click="goToPage1">Дізнатися</div>
  </div>
</template>

<script>
export default {
  name: "Home",
  data: function() {
    return {
      timer: "",
      changes: true
    };
  },
  methods: {
    goToPage1() {
      this.$router.push("page-1");
    },
    interval() {
      this.changes = !this.changes;
    }
  },
  created() {
    this.timer = setInterval(this.interval, 3000);
  }
};
</script>

<style scoped>
.logo-text {
  padding-left: 10%;
  padding-right: 10%;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
}
.block {
  text-align: center;
  padding-top: 50px;
  position: absolute;
  top: 35%;
  left: 50%;
  margin-left: -440px;
  width: 880px;
  height: 200px;
  background: rgba(70, 141, 205, 0.32);
  backdrop-filter: blur(114px);
  border-radius: 1000px;
}
.home_logo {
  margin-top: 35%;
}
.bg-img-con {
  width: 100%;
  left: 50%;
  margin-left: -550px;
  position: relative;
  animation: infiniteScrollBg 30s infinite linear;
}
.bg-img-con:after {
  content: "";
  height: 500%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../assets/img/Background.png");
  background-size: 100% 20%;
}
.bg-img {
  width: 100%;
}
@keyframes infiniteScrollBg {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-200%);
  }
}
.logo-block {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -440px;
}

h1 {
  font-family: GothamPro, sans-serif;
}
.try-btn {
  position: absolute;
  top: 70%;
  left: 50%;
  margin-left: -180px;
  background: linear-gradient(180deg, #84b33e -20.63%, #487724 100%);
  box-shadow: 0px 3px 12px rgba(50, 50, 50, 0.35);
  border-radius: 124px;
  width: 360px;
  height: 100px;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  line-height: 100px;
}
.try-btn:hover {
  cursor: pointer;
  background: linear-gradient(180deg, #84b33e -20.63%, #4ba66c 100%);
}
</style>