<template>
  <div class="row all-height">
    <div>
      <img class="img-page-1" src="../assets/img/Rectangle.png" alt="">
    </div>
    <div class="col-md-6 " ></div>

    <div class="col-md-6">
      <img class="page1-logo animated fadeIn"  src="../assets/img/logo.png" alt="logo" />
      <p class="slogan animated fadeIn" >інструмент твоєї перемоги</p>
      <p class="text-margin page-1-text animated fadeIn " style="animation-delay:.5s">
        <span class="page-1-text-bold">SmartTender</span> разом з
        <span class="page-1-text-bold">Microsoft</span> розробили предиктивну модель. Вона допоможе оцінити реальні шанси на перемогу у торгах. Результати розрахунків базуються на аналізі завершених тендерів.
      </p>
      <p
        style="margin-top:100px;animation-delay:.5s"
        class="page-1-text page-1-text-bold animated fadeIn "
      >Ви готові до боротьби зі штучним інтелектом?</p>
      <div class="btn animated fadeIn "  style="animation-delay:1s" @click="goToPage2">Спробувати</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Page1",
  methods: {
    goToPage2() {
      this.goNext = true;
      setTimeout(() => {
        this.$router.push("page-2");
      }, 1000);
    }
  },
  data: function() {
    return {
      goNext: false
    };
  }
};
</script>

<style scoped>
.img-page-1{
      position: absolute;
    top: 0;
    left: 0;
    width: 40%;

}
.page1-logo {
  margin-top: 15%;
  width: 50%;
}
.btn {
  margin-top: 10%;
  background: linear-gradient(180deg, #84b33e -20.63%, #487724 100%);
  box-shadow: 0px 3px 12px rgba(50, 50, 50, 0.35);
  border-radius: 124px;
  width: 360px;
  height: 100px;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  line-height: 80px;
  color: #fff;
}
.slogan {
      margin-top: 5px;
    margin-left: 10px;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
}
.text-margin {
  margin-top: 10%;
}
.page-1-text {
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-size: 23px;
  line-height: 60px;
}
.page-1-text-bold {
  font-weight: bold;
}
.all-height {
  height: 100vh;
}
.bg-img-page-1 {
  margin-left: -4%;
  background-image: url("../assets/img/Rectangle.png");
  background-repeat: no-repeat;
}
</style>