<template>
  <div class="row">
    <div class="col-md-12" style="text-align:center;">
      <h1 class="page-6-h1 animated fadeIn"
       :class="{fadeOu: percent>= 100}"
       >Аналізуємо поразки</h1>
    </div>
    <div class="col-md-12 d-flex justify-content-center animated fadeIn" :class="{fadeOu: percent<= 100}">
      <div class="loading-bar">
        <div class="percentage" :style="{'width' : percentage + '%'}"></div>
      </div>
    </div>

    <img class="img-pos animated fadeIn" :class="{fadeOu: percent<= 100, 'image-animation':percent<= 100}" src="../assets/img/animation.png" alt />
    <span class="percents animated fadeIn" :class="{fadeOu: percent<= 100}">{{this.percent}}%</span>
    <img class="page-6-logo animated fadeIn" :class="{fadeOu: percent<= 100}" src="../assets/img/logo.png" alt="">
  </div>
</template>

<script>
export default {
  name: "Page8",
  data: () => {
    return {
      percentage: 0
    };
  },
  computed: {
    percent() {
      return this.percentage.toFixed();
    }
  },
  created() {
    var intval = setInterval(() => {
      if (this.percentage < 100) this.percentage += 0.15;
      else clearInterval(intval);
    }, 5);
  },
   watch: {
    percentage: function (percentage) {
      if(percentage >= 100){
          this.$router.push('page-9')
      }
    }
  },
};
</script>

<style scoped lang="scss">
.page-6-logo{
  width: 360px;
    position: absolute;
    top:85%;
    left:50%;
    margin-left: -180px;
}
.loading-bar {
  position: relative;
  width: 900px;
  background: #fff;
  height: 12px;
  border-radius: 7px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba($color: #000, $alpha: 0.4), 0 -1px 1px #fff,
    0 1px 0 #fff;

  .percentage {
    position: absolute;
    
    display: block;
    height: 100%;
    border-radius: 7px;
    background-color: #1c8b9f;
    background-size: 30px 30px;
    background-image: linear-gradient(
      135deg,
      rgba($color: #fff, $alpha: 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba($color: #fff, $alpha: 0.15) 50%,
      rgba($color: #fff, $alpha: 0.15) 75%,
      transparent 75%,
      transparent
    );
    animation: animate-stripes 3s linear infinite;
  }
}

@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  }
}
.img-pos{    width: 504px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -250px;
}
.image-animation {
  animation: spin 7s linear infinite;
 
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.percents {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 60px;
}
.page-6-h1 {
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 60px;
  text-align: center;
  margin: 5%;
}
</style>