<template>
  <div class="row">
    <div class="animated fadeIn delay-1s" :class="{fadeOut: this.clicked}">
      <img class="top-left animated fadeIn delay-2s" src="../assets/img/top-left.png" alt />
      <img class="top-right animated fadeIn delay-2s" src="../assets/img/top-right.png" alt />
      <img class="bottom-right animated fadeIn delay-2s" src="../assets/img/bottom-right.png" alt />

      <img class="circle" src="../assets/img/circle.png" alt />
      <img v-if="category === 'gas'" class="category" src="../assets/img/gas.png" alt />
      <img v-else-if="category === 'oil'" class="category" src="../assets/img/oil.png" alt />
      <img v-else-if="category === 'meat'" class="category" src="../assets/img/meat.png" alt />
      <img v-else-if="category === 'wood'" class="category" src="../assets/img/wood.png" alt />
      <img v-else-if="category === 'drugs'" class="category" src="../assets/img/drugs.png" alt />
      <img
        v-else-if="category === 'furniture'"
        class="category"
        src="../assets/img/furniture.png"
        alt
      />
    </div>
    <div class="col-md-12">
      <h1 class="page-3-h1 animated fadeIn" :class="{fadeOut: this.clicked}">Вхідні дані</h1>
    </div>
    <div class="col-md-6 text d-flex justify-content-center">
      <div class="page-3-text-block animated fadeIn delay-1s" :class="{fadeOut: this.clicked}" style="text-align:right;width: 340px;
    margin-left: -340px;">
        Кількість організаторів торгів за останні 6 місяців:
        <p class="page-3-num">{{this.categoryData.organizers}}</p>
      </div>
    </div>
    <div class="col-md-6 text d-flex justify-content-center">
      <div class="page-3-text-block animated fadeIn delay-1s" :class="{fadeOut: this.clicked}"  style="
    margin-right: -50px;text-align:left;margin-left:270px;">
        Кількість учасників у торгах за останні 6 місяців:
        <p class="page-3-num">{{this.categoryData.participants}}</p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="classifiers-block animated fadeIn delay-1s" :class="{fadeOut: this.clicked}">
        <p>Торги у групі «{{this.categoryData.name}}» відбуваються за класифікаторами:</p>
        <li v-for="classifier in categoryData.classifiers" :key="classifier.id">CPV — {{classifier}}</li>
      </div>
    </div>
    <div class="col-md-6 text d-flex justify-content-center">
      <div class="page-3-text-block animated fadeIn delay-1s" :class="{fadeOut: this.clicked}" style="margin-top: 370px;
    margin-right: -70px;text-align:left;margin-left:270px;">
        Cередня кількість учасників в одному тендері:
        <p class="page-3-num">{{this.categoryData.average}}</p>
      </div>
    </div>
    <div class="col-md-6 text-right animated fadeIn delay-1s" :class="{fadeOut: this.clicked}" @click="goBack">
      <div class="btn-back">Назад</div>
    </div>
    <div class="col-md-6 animated fadeIn delay-1s" :class="{fadeOut: this.clicked}" @click="goToPage4">
      <div class="btn">Далі</div>
    </div>
  </div>
</template>

<script>
import categoryData from "../assets/data/categoryData.json";
import { createNamespacedHelpers } from "vuex";

const { mapGetters: mapSmartTenderGetters } = createNamespacedHelpers(
  "smartTender"
);

export default {
  name: "Page3",
  data: function() {
    return {
      category: "",
      categoryData: {},
      clicked: false
    };
  },
  methods: {
    goToPage4() {
      this.clicked = true
      setTimeout(()=>{ this.$router.push("page-4");},3000)
     
    },
    goBack() {
      this.$router.go(-1);
    },
    smartTender() {
      return this.getSmartTender.direction;
    },
    returnImgSrc() {
      //eslint-disable-next-line
      console.log(this.getSmartTender);
      const path = "../assets/img/furniture.png";
      return path;
    }
  },
  mounted() {
    const direction = this.smartTender();
    this.category = direction;

    switch (direction) {
      case "gas":
        this.categoryData = categoryData.gas;
        break;
      case "oil":
        this.categoryData = categoryData.oil;
        break;
      case "meat":
        this.categoryData = categoryData.meat;
        break;
      case "drugs":
        this.categoryData = categoryData.drugs;
        break;
      case "furniture":
        this.categoryData = categoryData.furniture;
        break;
      case "wood":
        this.categoryData = categoryData.wood;
        break;
    }
  },
  computed: {
    ...mapSmartTenderGetters(["getSmartTender"]),
    returnSrcImg() {
      return "../assets/img/furniture.png";
    }
  }
};
</script>

<style scoped>
.top-left {
      width: 270px;
  position: absolute;
  top: 20%;
  left: 35%;
}
.top-right {
      width: 270px;
  position: absolute;
  top: 20%;
  right: 35%;
}
.bottom-right {
      width: 270px;
  position: absolute;
  bottom: 30%;
  right: 35%;
}
.circle {
  width: 344px;
  z-index: 1;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-left: -170px;
  margin-top: -170px;
}
.category {
  width:140px;
  z-index: 2;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-left: -70px;
  margin-top: -70px;
}
.text {
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
}
.page-3-num {
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}
.classifiers-block {
  width: 310px;
  padding: 32px;
  background: linear-gradient(45deg, #2b6699, #0e8704);
  box-shadow: 0px 3px 12px rgba(50, 50, 50, 0.35);
  border-radius: 8px;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
margin-left:-100px;
  margin-top: 150px;

  position: absolute;
}
.page-3-h1 {
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 60px;
  text-align: center;
  margin: 5%;
}
.btn-back {
  display: inline-block;
  padding-top: 10px;
  margin-right: 5%;
  margin-top: 15%;
  background: linear-gradient(180deg, #bdbdbd -20.63%, #787878 100%);
  box-shadow: 0px 3px 12px rgba(50, 50, 50, 0.35);
  border-radius: 62px;
  width: 360px;
  height: 100px;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  line-height: 80px;
  color: #fff;
}
.btn {
  margin-top: 15%;
  background: linear-gradient(180deg, #84b33e -20.63%, #487724 100%);
  box-shadow: 0px 3px 12px rgba(50, 50, 50, 0.35);
  border-radius: 62px;
  width: 360px;
  height: 100px;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  line-height: 80px;
  color: #fff;
}
.page-3-text-block {
  width: 400px;
}
</style>