<template>
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-2-h1 animated fadeIn">Оберіть один напрям для аналізу:</h1>
    </div>
    <div class="d-flex flex-row justify-content-center" style="width:100%; margin-bottom:27px;">
      <div
        class="page-2-card"
        :class="{'animated fadeIn':this.dir === false,
          test: this.dir !== 'gas' && this.dir !== false }"
        v-on:click="setTenderDirection('gas')"
      >
        <img class="page-2-card-img" src="../assets/img/gas.png" alt="gas" />
        <div class="page-2-card-btn">Газ</div>
      </div>
      <div
        style="margin-right:55px; margin-left:55px;animation-delay: .5s;"
        class="page-2-card"
        :class="{'animated fadeIn':this.dir === false,test:this.dir !== 'oil' && this.dir !== false}"
        v-on:click="setTenderDirection('oil')"
      >
        <img class="page-2-card-img" src="../assets/img/oil.png" alt="oil" />
        <div class="page-2-card-btn">Нафта</div>
      </div>
      <div
        style="animation-delay: 1s;"
        class="page-2-card "
        :class="{'animated fadeIn':this.dir === false,test:this.dir !== 'meat' && this.dir !== false}"
        v-on:click="setTenderDirection('meat')"
        value="meat"
      >
        <img class="page-2-card-img" src="../assets/img/meat.png" alt="meat" />
        <div class="page-2-card-btn">М'ясо</div>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-center" style="width:100%; margin-top:27px;">
      <div
        class="page-2-card "
        :class="{'animated fadeIn':this.dir === false,test:this.dir !== 'drugs' && this.dir !== false}"
        v-on:click="setTenderDirection('drugs')"
        value="drugs"
      >
        <img class="page-2-card-img" src="../assets/img/drugs.png" alt="drugs" />
        <div class="page-2-card-btn">Ліки</div>
      </div>
      <div
        style="margin-right:55px; margin-left:55px;animation-delay: .5s;"
        class="page-2-card "
        :class="{'animated fadeIn':this.dir === false,test:this.dir !== 'furniture' && this.dir !== false}"
        v-on:click="setTenderDirection('furniture')"
        value="furniture"
      >
        <img class="page-2-card-img" src="../assets/img/furniture.png" alt="furniture" />
        <div class="page-2-card-btn">Меблі</div>
      </div>
      <div
        style="animation-delay: 1s;"
        class="page-2-card "
        :class="{'animated fadeIn':this.dir === false,test: this.dir !== 'wood' && this.dir !== false}"
        v-on:click="setTenderDirection('wood')"
        value="wood"
      >
        <img class="page-2-card-img" src="../assets/img/wood.png" alt="wood" />
        <div class="page-2-card-btn">Деревина</div>
      </div>
    </div>
    <div class="col-md-6 text-right animated fadeIn" @click="goBack">
      <div class="btn-back">Назад</div>
    </div>
    <div class="col-md-6 animated fadeIn" @click="goToPage3">
      <div class="btn" :class="{btn_succes:this.dir !== false}">Далі</div>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
const {
  mapActions: mapSmartTenderActions,
  mapGetters: mapSmartTenderGetters
} = createNamespacedHelpers("smartTender");

export default {
  name: "Page2",
  data: function() {
    return {
      dir: false
    };
  },
  methods: {
    ...mapSmartTenderActions(["setDirection"]),
    goToPage3() {
      if (this.getSmartTender.direction) {
        this.$router.push("page-3");
      }
    },
    goBack() {
      this.$router.go(-1);
    },
    setTenderDirection(val) {
      this.dir = val;
      this.setDirection(val);
    }
  },
  computed: {
    ...mapSmartTenderGetters(["getSmartTender"]),
    check(val) {
      if (
        this.getSmartTender.direction !== val &&
        this.getSmartTender.direction
      ) {
        return true;
      }
      return false;
    }
  }
};
</script>

<style scoped>
.icrease {
  animation-delay: 1s;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-top: -500px;
  margin-left: -700px;
  width: 1400px !important;
  height: 1000px !important;
}

.icrease .page-2-card-btn {
  font-size: 156.343px;
  line-height: 203px;
}
.test {
  opacity: 0.5;
 /* animation-fill-mode: none;*/
  animation: op .5s;
  animation-delay: 0s !important;
 /* animation-iteration-count: 1;*/
}
@keyframes op {
  0% {
    opacity: 1;
  }

  100% {
     opacity: 0.5;
  }
}
.test img {
  opacity: 0.5;
  background: none;
}
.test .page-2-card-btn {
  opacity: 0.5;
}
.btn-back {
  display: inline-block;
  padding-top: 10px;
  margin-right: 5%;
  margin-top: 15%;
  background: linear-gradient(180deg, #bdbdbd -20.63%, #787878 100%);
  box-shadow: 0px 3px 12px rgba(50, 50, 50, 0.35);
  border-radius: 62px;
  width: 360px;
  height: 100px;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  line-height: 80px;
  color: #fff;
}
.btn_succes {
  background: linear-gradient(180deg, #84b33e -20.63%, #487724 100%) !important;
}
.btn {
  margin-left: 5%;
  margin-top: 15%;
  background: linear-gradient(
    180deg,
    rgba(189, 189, 189, 0.3) -20.63%,
    rgba(120, 120, 120, 0.3) 100%
  );

  box-shadow: 0px 3px 12px rgba(50, 50, 50, 0.35);
  border-radius: 62px;
  width: 360px;
  height: 100px;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  line-height: 80px;
  color: #fff;
}
.page-2-h1 {
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 60px;
  text-align: center;
  margin: 6%;
}
.page-2-card-img {
  background: #ffffff;
  margin-bottom: 6%;
  margin-top: 10%;
  /*height: 55%;*/
  width: 50%;
}
.page-2-card {
  width: 360px;
  height: 280px;
  box-shadow: 0px 4px 24px rgba(80, 80, 80, 0.5);
  border-radius: 40px;
  text-align: center;
  background-color: #ffffff;
}
.page-2-card-btn {
  text-align: center;
  background: linear-gradient(45deg, #2b6699, #0e8704);
  border-radius: 0 0 40px 40px;
  width: 100%;
  height: 20%;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 55px;
}
</style>
