<template>
  <div class="row animated fadeIn">
    <div class="col-md-12" style="text-align:center;">
      <h1 class="page-8-h1">Результати</h1>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <div class="page-8-container" style="color:black;">
        <div class="row">
          <div class="col-md-6 page-8-text-con">
            <p style="margin-left: 50px;line-height: 70px;">Ви вгадали</p>
          </div>
          <div class="col-md-6 page-8-text-con">
            <p style="margin-right: 50px;">Прогноз</p>
            <img style="margin-right: 50px; width:220px;" src="../assets/img/logoDark.png" alt />
          </div>

          <div class="col-md-6">
            <div style="margin-right: 50px;" class="num-container">
              <p>{{userResult()}} / 12</p>
              <p>=</p>
              <p>{{userPercents()}}%</p>
            </div>
          </div>
          <div class="col-md-6">
            <div style="margin-left: 50px;" class="num-container">
              <p>{{right}} / {{all}}</p>
              <p>=</p>
              <p>{{prediction}}%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <div class="btn" @click="goToPage9">Далі</div>
    </div>
  </div>
</template>

<script>
import prediction from "../assets/data/prediction.json";
import { createNamespacedHelpers } from "vuex";
const {
  mapActions: mapSmartTenderActions,
  mapGetters: mapSmartTenderGetters
} = createNamespacedHelpers("smartTender");

export default {
  name: "Page10",
  data: function() {
    return {
      right: "",
      all: "",
      prediction: ""
    };
  },
  methods: {
    ...mapSmartTenderActions(["setUserResult"]),
    goToPage9() {
      this.$router.push("page-11");
    },
    getSmartTenderCompany() {
      return this.getSmartTender.company;
    },
    userPercents(){
      //eslint-disable-next-line
      console.log((this.userResult() * 100) / 12)
        return Math.round((this.userResult() * 100) / 12)
    },
    userResult() {
      let count = 0;
      let arr = this.getSmartTender.data;
      for (let i = 0; i < arr.length; i++) {
        var obj = arr[i];
        var res = obj["Факт (0-програш, 1-виграш)"];
        if (obj.choice === true && res === 1 || obj.choice === false && res === 0) {
          count++;
        }
      }
      this.setUserResult(count);
      return count;
    }
  },
  computed: {
    ...mapSmartTenderGetters(["getSmartTender"])
  },
  mounted() {
    const company = this.getSmartTenderCompany();
    const arr = prediction.features;

    for (let i = 0; i < arr.length; i++) {
      if (arr[i].properties.Field1.toLowerCase() === company.toLowerCase()) {
        this.right = Math.floor(arr[i].properties.Field2);
        this.all = Math.floor(arr[i].properties.Field3);
           //eslint-disable-next-line
      console.log(arr[i].properties.Field4 * 100)
        this.prediction = Math.round(arr[i].properties.Field4 * 100);
      }
    }
  }
};
</script>

<style scoped>
.num-container {
  text-align: center;
  padding-top: 50px;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #fff;

  margin: 0 auto;
  width: 293px;
  height: 293px;
  background: linear-gradient(45deg, #2b6699, #0e8704);
  box-shadow: 0px 3px 12px rgba(50, 50, 50, 0.35);
  border-radius: 61px;
}
.page-8-text-con {
  padding-bottom: 25px;
  padding-top: 50px;
  text-align: center;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}
.row-page-8 {
  width: 100%;
}
.page-8-container {
  background: #f9f9f9;
  box-shadow: 0px 4px 24px rgba(80, 80, 80, 0.5);
  border-radius: 60px;
  width: 912px;
  height: 502px;
}
.page-8-h1 {
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 60px;
  text-align: center;
  margin: 8%;
}
.btn {
  margin-top: 5%;
  background: linear-gradient(180deg, #84b33e -20.63%, #487724 100%);
  box-shadow: 0px 3px 12px rgba(50, 50, 50, 0.35);
  border-radius: 61px;
  width: 360px;
  height: 100px;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  line-height: 80px;
  color: #fff;
}
</style>