<template>
  <div class="row">
    <div class="col-md-12">
      <h1
        class="page-4-h1 animated fadeIn"
        :class="{fadeOut: this.clicked}"
      >Оберіть компанію, яку ви будете представляти у протистоянні зі штучним інтелектом:</h1>
    </div>
    <div
      class="col-md-12 text d-flex justify-content-center"
      style="padding-bottom: 50px; padding-top: 50px;"
      :class="{' animated fadeOut ': this.clicked}"
    >
      <img
        v-if="category === 'gas'"
        v-on:click="setCompanyL('Львівгаз збут')"
        src="../assets/img/Brand10.png"
        alt
        :class="{'animated fadeIn':this.clicked, chosen: this.company !== 'Львівгаз збут' &&  this.company}"
      />
      <div
        v-if="category === 'gas'"
        v-on:click="setCompanyL('Київгазтрейд')"
        style="margin-left:100px; margin-right:100px;animation-delay:.5s"
        class="lostBadge"
        :class="{'animated fadeIn':this.clicked, chosen: this.company !== 'Київгазтрейд' &&  this.company}"
      >Київгазтрейд</div>
      <div
        v-if="category === 'gas'"
        v-on:click="setCompanyL('Кріогенсервіс')"
        class="lostBadge"
        style="100px;animation-delay:1s"
        :class="{'animated fadeIn':this.clicked, chosen: this.company !== 'Кріогенсервіс' &&  this.company}"
      >Кріогенсервіс</div>

      <img
        v-if="category === 'oil'"
        v-on:click="setCompanyL('Лівайн Торг')"
        src="../assets/img/Brand08.png"
        alt
        :class="{'animated fadeIn':this.clicked, chosen: this.company !== 'Лівайн Торг' &&  this.company}"
      />
      <img
        v-if="category === 'oil'"
        v-on:click="setCompanyL('ОККО')"
        src="../assets/img/Brand12.png"
        style="margin-left:100px; margin-right:100px;animation-delay:.5s"
        alt
        :class="{'animated fadeIn':this.clicked, chosen: this.company !== 'ОККО' &&  this.company}"
      />
      <img
        v-if="category === 'oil'"
        v-on:click="setCompanyL('ТТ-Нафта')"
        src="../assets/img/Brand 04.png"
        style="animation-delay:1s"
        :class="{'animated fadeIn':this.clicked,chosen: this.company !== 'ТТ-Нафта' &&  this.company}"
      />

      
      <div
        v-if="category === 'meat'"
        v-on:click="setCompanyL('Базис')"
        style="padding-left: 18%;
    padding-right: 25%;"
        class="lostBadge "
        :class="{'animated fadeIn':this.clicked, chosen: this.company !== 'Базис' &&  this.company}"
      >
      Базис</div>

      <img
        v-if="category === 'meat'"
        v-on:click="setCompanyL('АЛАН')"
        src="../assets/img/Brand03.png"
        style="margin-left:100px; margin-right:100px;animation-delay:.5s"
        alt
        :class="{'animated fadeIn':this.clicked,chosen: this.company !== 'АЛАН' &&  this.company}"
      />
      <img
        v-if="category === 'meat'"
        v-on:click="setCompanyL('ТОВ Літинський мясокомбінат')"
        src="../assets/img/Brand01.png"
        style="animation-delay:1s"
        :class="{'animated fadeIn':this.clicked, chosen: this.company !== 'ТОВ Літинський мясокомбінат' &&  this.company}"
      />
      <div
        v-if="category === 'furniture'"
        v-on:click="setCompanyL('РЕНЕССАНС')"
      style="padding-top: 18%;"
        class="lostBadge "
        :class="{'animated fadeIn':this.clicked, chosen: this.company !== 'РЕНЕССАНС' &&  this.company}"
      >
      <p>Mебельная фабрика</p>
      РЕНЕССАНС</div>

      <img
        v-if="category === 'furniture'"
        v-on:click="setCompanyL('Епіцентр')"
        src="../assets/img/Brand09.png"
        style="margin-left:100px; margin-right:100px;animation-delay:.5s"
        alt
        :class="{'animated fadeIn':this.clicked, chosen: this.company !== 'Епіцентр' &&  this.company}"
      />
      <img
        v-if="category === 'furniture'"
        v-on:click="setCompanyL('УКРДИДАКТИК')"
        src="../assets/img/Brand04.png"
        style="animation-delay:1s"
        :class="{'animated fadeIn':this.clicked, chosen: this.company !== 'УКРДИДАКТИК' &&  this.company}"
      />

      <img
        v-if="category === 'drugs'"
        v-on:click="setCompanyL('БАДМ-Б')"
        src="../assets/img/Brand02.png"
        alt
        :class="{'animated fadeIn':this.clicked, chosen: this.company !== 'БАДМ-Б' &&  this.company}"
      />
      <img
        v-if="category === 'drugs'"
        v-on:click="setCompanyL('ЛІКИ УКРАЇНИ')"
        src="../assets/img/Brand11.png"
        style="margin-left:100px; margin-right:100px;animation-delay:.5s"
        alt
        :class="{'animated fadeIn':this.clicked, chosen: this.company !== 'ЛІКИ УКРАЇНИ' &&  this.company}"
      />
      
<div
        v-if="category === 'drugs'"
        v-on:click="setCompanyL('М.Т.К.')"
        style="padding-left: 4%;
    padding-right: 4%;animation-delay:1s"
        class="lostBadge "
        :class="{'animated fadeIn':this.clicked, chosen: this.company !== 'М.Т.К.' &&  this.company}"
      >
    <p style="width:480px">Медичний центр</p>
    <p>М.Т.К.</p>
     </div>
      <img
        v-if="category === 'wood'"
        v-on:click="setCompanyL('ТОВ Агровектор')"
        src="../assets/img/Brand 01.png"
        alt
        :class="{'animated fadeIn':this.clicked, chosen: this.company !== 'ТОВ Агровектор' &&  this.company}"
      />
      <img
        v-if="category === 'wood'"
        v-on:click="setCompanyL('ДАНА')"
        src="../assets/img/Brand 02.png"
        style="margin-left:100px; margin-right:100px;animation-delay:.5s"
        alt
        :class="{'animated fadeIn':this.clicked,chosen: this.company !== 'ДАНА' &&  this.company}"
      />
      <img
        v-if="category === 'wood'"
        v-on:click="setCompanyL('БЕРШАДСЬКЕ ЛІСОВЕ ГОСПОДАРСТВО')"
        src="../assets/img/Brand 03.png"
        style="animation-delay:1s"
        :class="{'animated fadeIn':this.clicked, chosen: this.company !== 'БЕРШАДСЬКЕ ЛІСОВЕ ГОСПОДАРСТВО' &&  this.company}"
      />
    </div>
    <div
      class="col-md-6 text-right animated fadeIn "
      :class="{fadeOut: this.clicked}"
      @click="goBack"
    >
      <div class="btn-back">Назад</div>
    </div>
    <div
      class="col-md-6 animated fadeIn "
      :class="{fadeOut: this.clicked}"
      @click="goToPage5"
    >
      <div 
      :class="{btn_succes:this.company}"
      class="btn">Далі</div>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
const {
  mapActions: mapSmartTenderActions,
  mapGetters: mapSmartTenderGetters
} = createNamespacedHelpers("smartTender");

export default {
  name: "Page4",
  data: function() {
    return {
      category: "",
      company: false,
      clicked: false
    };
  },
  methods: {
    ...mapSmartTenderActions(["setCompany"]),
    goToPage5() {
      if (this.getSmartTender.company) {
        this.clicked = true;
        setTimeout(() => {
          this.$router.push("page-5");
        }, 3000);
      }
    },
    goBack() {
      this.$router.go(-1);
    },
    smartTender() {
      return this.getSmartTender.direction;
    },
    setCompanyL(v) {
      this.company = v;
      this.setCompany(v);
    }
  },
  computed: {
    ...mapSmartTenderGetters(["getSmartTender"])
  },
  mounted() {
    const direction = this.smartTender();
    this.category = direction;
  }
};
</script>

<style scoped>
img{
  width:50%;
}
.anim-fill-mode{
   animation-fill-mode: both !important;
}
.chosen {
  animation: op .5s;
  animation-delay: 0s !important;
  opacity: 0.5;
}
@keyframes op {
  0% {
    opacity: 1;
  }

  100% {
     opacity: 0.5;
  }
}
.lostBadge {
 
  margin-left: 25px;
  padding: 11%;
    padding-top: 22%;
  color: #000000;
  width: 555px;
  height: 555px;
  background: #f9f9f9;
  box-shadow: 0px 4px 24px rgba(80, 80, 80, 0.5);
  border-radius: 60px;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 34px;
  text-align: center;
 
}
.btn-back {
  display: inline-block;
  padding-top:10px;
  margin-right: 5%;
  margin-top: 5%;
  background: linear-gradient(180deg, #bdbdbd -20.63%, #787878 100%);
  box-shadow: 0px 3px 12px rgba(50, 50, 50, 0.35);
  border-radius: 62px;
  width: 360px;
  height: 100px;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  line-height: 80px;
  color: #fff;
}
.btn_succes {
  background: linear-gradient(180deg, #84b33e -20.63%, #487724 100%) !important;
}
.btn {
  margin-top: 5%;
   background: linear-gradient(
    180deg,
    rgba(189, 189, 189, 0.3) -20.63%,
    rgba(120, 120, 120, 0.3) 100%
  );
  box-shadow: 0px 3px 12px rgba(50, 50, 50, 0.35);
  border-radius:62px;
  width: 360px;
  height: 100px;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  line-height: 80px;
  color: #fff;
}
.page-4-h1 {
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 60px;
  text-align: center;
  margin: 5%;
}
</style>