<template>
  <div class="row" style="width: 140%;
    margin-left: -240px;">
    <div class="col-md-12" style="test-align:center;">
      <h1 class="page-7-h1 animated fadeIn">Результати аналізу:</h1>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <table class="table animated fadeIn">
        <thead>
          <tr style="display:flex;">
            <th
              style="width: 35%;animation-delay:1.2s"
              scope="col"
              class="table_text animated fadeIn"
            >Тендер</th>
            <th
              style="width: 20%;animation-delay:1.4s"
              scope="col"
              class="table_text animated fadeIn"
            >Ваш вибір</th>
            <th
              style="width: 20%;animation-delay:1.6s"
              scope="col"
              class="table_text animated fadeIn"
            >Прогноз SmartTender</th>
            <th
              style="width: 25%;animation-delay:1.8s"
              scope="col"
              class="table_text animated fadeIn"
            >Фактичний результат</th>
          </tr>
        </thead>
        <tbody style="height:200px;
    overflow-y:auto;">
          <tr style="display:flex;" v-for="item in data" :key="item.id">
            <th style="width: 35%;">
              <div class="row page-7-card animated fadeIn" style="animation-delay:1.2s">
                <div style="position:relative;">
                  <div class="separator"></div>
                </div>
                <div class="col-md-8">
                  <p class="card-title">Назва лоту</p>
                  <p class="card-data-text">{{item['Назва лоту']}}</p>
                  <p class="card-title">Організатор</p>
                  <p class="card-data-text">{{item['Назва організатора']}}</p>
                </div>
                <div class="col-md-4">
                  <p class="card-title">Код класифікатору</p>
                  <p class="card-data-text">{{item['Класифікатор']}}</p>
                  <p class="card-title">Бюджет закупівлі</p>
                  <p class="card-data-text">{{checkMoney(item['Бюджет закупівлі'])}}</p>
                </div>
              </div>
            </th>
            <th style="width: 20%;">
              <div style="text-align:center;animation-delay:1.4s" class="animated fadeIn">
                <img class="img-small" v-if="item.choice === true" src="../assets/img/yes.png" alt />
                <img class="img-small" v-else src="../assets/img/no.png" alt />
              </div>
            </th>
            <th style="width: 20%;">
              <div
                style="text-align:center;position:relative;animation-delay:1.6s"
                class="animated fadeIn"
              >
                <img class="img-small" v-if="checkPrediction(item)" src="../assets/img/yes.png" alt />
                <img class="img-small" v-else src="../assets/img/no.png" alt />
                <p
                  class="perc"
                  :class="{'perc-green':checkPrediction(item),'perc-red':checkPrediction(item) === false}"
                >{{checkPredictionNum(item)}}%</p>
              </div>
            </th>
            <th style="width: 25%;">
              <div style="text-align:center;animation-delay:1.8s" class="animated fadeIn">
                <img class="img-big image-animation" v-if="clicked === false" :class="{'animated fadeIn':clicked}" src="../assets/img/Indicator.png" alt />
                <div v-else >
                  <img
                    class="img-big animated fadeIn"
                    v-if="checkFact(item)"
                    src="../assets/img/cup.png"
                    alt
                  />
                  <img class="img-big animated fadeIn" v-else src="../assets/img/noBig.png" alt />
                </div>
              </div>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 text-right animated fadeIn" @click="goBack">
      <div class="btn-back">Назад</div>
    </div>
    <div class="col-md-6 animated fadeIn" @click="goToPage8">
      <div class="btn">Далі</div>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
const { mapGetters: mapSmartTenderGetters } = createNamespacedHelpers(
  "smartTender"
);

export default {
  name: "Page9",
  data: function() {
    return {
      data: [],
      clicked: false
    };
  },
  methods: {
    goToPage8() {
      if(this.clicked == true){
        this.$router.push("page-10");
      }
      this.clicked = true
    },
    goBack() {
      this.$router.go(-1);
    },
    checkMoney(val) {
      const formatter = new Intl.NumberFormat({
        minimumFractionDigits: 0
      });
      return formatter.format(val);
    },
    checkFact(item) {
      if (item["Факт (0-програш, 1-виграш)"] === 1) return true;
      else return false;
    },
    checkPrediction(item) {
      if (item["Прогнозований результат"] === 1) return true;
      else return false;
    },
    checkPredictionNum(item) {
      const num = item["Вирогідність виграшу"];
      return Math.round(num * 100);
    }
  },
  computed: {
    ...mapSmartTenderGetters(["getSmartTender"])
  },
  mounted() {
    this.data = this.getSmartTender.data;

  }
};
</script>

<style scoped>
.image-animation {
  animation: spin 7s linear infinite;
 
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.perc {
  position: absolute;
  top: 45px;
  left: 190px;

  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}
.perc-green {
  color: #84b33e;
}
.perc-red {
  color: #d02f00;
}
.img-small {
  width: 56px;
  margin-top: 40px;
}
.img-big {
  width: 87px;
  margin-top: 25px;
}
.separator {
  height: 115px;
  width: 1px;
  background-color: #bdbdbd;
  position: absolute;
  top: -7px;
  left: 320px;
}
thead {
  display: block !important;
}
tbody {
  height: 580px !important;
  display: block;
  overflow-y: auto;
  width: 100%;
}
.card-data-text {
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 9px;
  line-height: 12px;
  color: #fff;
}
.card-title {
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  color: #fff;
      margin-bottom: 2px;
}
.page-7-card {
  margin: 0 auto;
  padding: 15px;
  width: 512px;
  height: 131px;
  background: linear-gradient(45deg, #2b6699, #0e8704);
  box-shadow: 0px 3px 12px rgba(50, 50, 50, 0.35);
  border-radius: 16px;
}
th {
  border-top: none !important;
  border-bottom: none !important;
}
.table {
  color: #fff;
  border-top: 7px solid #2b6699 !important;
  border-bottom: 7px solid #2b6699 !important;
  width: 100% !important;
}
.table-head {
  color: #fff;
  border-top: 7px solid #2b6699 !important;
  border-bottom: none !important;
}
.table_text {
  display: inline-block !important;
  padding: 25px;
  color: #fff;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}
.page-7-h1 {
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 60px;
  text-align: center;
  margin: 3%;
}
.btn-back {
  padding-top: 10px;
  display: inline-block;
  margin-right: 5%;
  margin-top: 5%;
  background: linear-gradient(180deg, #bdbdbd -20.63%, #787878 100%);
  box-shadow: 0px 3px 12px rgba(50, 50, 50, 0.35);
  border-radius: 62px;
  width: 360px;
  height: 100px;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  line-height: 80px;
  color: #fff;
}
.btn {
  margin-top: 5%;
  background: linear-gradient(180deg, #84b33e -20.63%, #487724 100%);
  box-shadow: 0px 3px 12px rgba(50, 50, 50, 0.35);
  border-radius: 62px;
  width: 360px;
  height: 100px;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  line-height: 80px;
  color: #fff;
}
</style>