<template>
  <div class="row" style="    width: 150%;
    margin-left: -280px;">
    <div class="col-md-12">
      <h1
        :class="{fadeOut: clicked}"
        class="page-4-h1 animated fadeIn"
        style="margin-bottom: 1.5%;"
      >Дайте свій прогноз щодо участі в наступних тендерах</h1>
      <div style="text-align:center;height: 64px;margin-bottom: 1.5%;">
        <div :class="{fadeOut: clicked}" class="checked animated fadeIn">{{returnCheked}}/12</div>
      </div>
    </div>
    <div style="width:100%;" class="d-flex flex-wrap justify-content-center">
      <div v-for="item in data" :key="item.id">
        <div
          class="page-5-card row animated fadeIn"
          style="margin:15px;"
          :class="{ gradient : setGradient(item) , fadeOut: clicked}"
        >
          <div class="separator"></div>
          <div class="col-md-8 card-col">
            <p class="card-title">Назва лоту</p>
            <p class="card-data-text">{{item['Назва лоту']}}</p>
            <p class="card-title">Організатор</p>
            <p class="card-data-text">{{item['Назва організатора']}}</p>
          </div>
          <div class="col-md-4 card-col">
            <p class="card-title">Код класифікатору</p>
            <p class="card-data-text">{{item['Класифікатор']}}</p>
            <p class="card-title">Бюджет закупівлі</p>
            <p class="card-data-text">{{checkMoney(item['Бюджет закупівлі'])}}</p>
          </div>
          <div
            class="card-bottom-row row"
            :class="{no_bg: setGradient(item), no_bg_dark: checkIfNotChosen(item) }"
          >
            <div
              class="col-md-6 animated fadeIn"
              :class="{fadeOut: clicked}"
              v-if="checkChosen(item)"
              v-on:click="setChoice(item, false)"
            >
              <p class="answer">Сумніваюсь</p>
            </div>
            <div
              class="col-md-6 btn-separator animated fadeIn"
              v-if="checkChosen(item)"
              :class="{fadeOut: clicked}"
              v-on:click="setChoice(item, true)"
            >
              <p class="answer">Виграю</p>
            </div>
            <div class="col-md-12" v-if="checkIfChosen(item)" v-on:click="repeate(item)">
              <p class="not_decided" style="color:#fff !important;">Натисніть, щоб редагувати</p>
              <p class="answer" style="margin-top:-5px;">Виграю</p>
            </div>
            <div class="col-md-12" v-if="checkIfNotChosen(item)" v-on:click="repeate(item)">
              <p class="not_decided">Натисніть, щоб редагувати</p>
              <p class="answer" style="margin-top:-5px;">Сумніваюсь</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-right animated fadeIn" :class="{fadeOut: clicked}" @click="goBack">
      <div class="btn-back">Назад</div>
    </div>
    <div class="col-md-6 animated fadeIn" :class="{fadeOut: clicked}" @click="goToPage6">
      <div class="btn" :class="{btn_succes:this.returnCheked > 11 }">Далі</div>
    </div>
  </div>
</template>

<script>
import companyData from "../assets/data/companiesData.json";

import { createNamespacedHelpers } from "vuex";
const {
  mapActions: mapSmartTenderActions,
  mapGetters: mapSmartTenderGetters
} = createNamespacedHelpers("smartTender");

export default {
  name: "Page5",
  data: function() {
    return {
      data: [],
      clicked: false
    };
  },
  methods: {
    ...mapSmartTenderActions(["setDirection", "setCompanyData"]),
    goToPage6() {
      this.setCompanyData(this.data);
      if (this.returnCheked === 12 && this.getSmartTender.data) {
        this.clicked = true;
        setTimeout(() => {
          this.$router.push("page-6");
        }, 3000);
      }
    },
    goBack() {
      this.$router.go(-1);
    },
    setTenderDirection(event) {
      if (event.target) {
        const value = event.target.attributes.value.value;
        this.setDirection(value);
      }
    },
    checkMoney(val) {
      const formatter = new Intl.NumberFormat({
        minimumFractionDigits: 0
      });
      return formatter.format(val);
    },
    setChoice(val, choice) {
      delete val.choice;
      for (let i = 0; i < this.data.length; i++) {
        if (this.data[i] === val) {
          this.$set(this.data[i], "choice", choice);
        }
      }
    },
    setGradient(val) {
      return val.choice;
    },
    checkIfChosen(val) {
      if (val.choice !== undefined && val.choice === true) {
        return true;
      }
    },
    checkIfNotChosen(val) {
      if (val.choice !== undefined && val.choice === false) {
        return true;
      }
    },
    repeate(val) {
      val.choice = undefined;
    },
    checkChosen(val) {
      if (val.choice !== undefined) {
        return false;
      } else {
        return true;
      }
    },
    shuffle(array) {
      var currentIndex = array.length,
        temporaryValue,
        randomIndex;

      // While there remain elements to shuffle...
      while (0 !== currentIndex) {
        // Pick a remaining element...
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex -= 1;

        // And swap it with the current element.
        temporaryValue = array[currentIndex];
        array[currentIndex] = array[randomIndex];
        array[randomIndex] = temporaryValue;
      }

      return array;
    }
  },
  computed: {
    ...mapSmartTenderGetters(["getSmartTender"]),
    returnCheked() {
      let sum = 0;
      for (let i = 0; i < this.data.length; i++) {
        if (this.data[i].choice === true || this.data[i].choice === false) {
          sum = sum + 1;
        }
      }
      return sum;
    }
  },
  mounted() {
    const arr = companyData.features;
    for (let i = 0; i < arr.length; i++) {
      if (
        arr[i].properties["Назва постачальника"] === this.getSmartTender.company
      ) {
        this.data.push(arr[i].properties);
      }
    }

    this.data = this.shuffle(this.data)
  }
};
</script>

<style scoped>
.not_decided {
  text-align: center;
  font-weight: bold;
  font-size: 9px;
  line-height: 12px;
  color: #4a4a4a !important;
  margin: 0;
  margin-top: -2px;
  margin-bottom: 2px;
}
.no_bg_dark {
  background: none !important;
}
.no_bg_dark p {
  color: rgba(74, 74, 74, 0.64);
}
.no_bg {
  background: none !important;
}
.checked {
  margin: 0 auto;
  width: 64px;
  height: 32px;
  background: linear-gradient(222.7deg, #0e8704 -11%, #2b6699 84.94%);
  box-shadow: 0px 3px 12px rgba(50, 50, 50, 0.35);
  border-radius: 8px;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  padding-top: 5px;
}
.gradient {
  background: linear-gradient(45deg, #2b6699, #0e8704) !important;
  color: #fff;
}
.gradient .card-col .card-title {
  color: #fff;
}
.gradient .card-col .card-data-text {
  color: #fff;
}
.btn-separator {
  border-left: 1px solid #f9f9f9;
}
.answer {
  text-align: center;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  margin-top: 5px;
  color: #ffffff;
}
.separator {
  position: absolute;
  width: 1px;
  height: 115px;
  background: #e0e0e0;
  left: 250px;
  top: 8px;
}
.card-data-text {
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 8px;
  line-height: 10px;
  color: #4a4a4a;
}
.card-title {
  margin-bottom: 4px;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 6px;
  line-height: 10px;
  color: #4a4a4a;
}
.card-col {
  padding: 15px;
}
.card-bottom-row {
  margin: 0;
  background: linear-gradient(45deg, #2b6699, #0e8704);
  border-radius: 0 0 8px 8px;
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
}
.page-5-card {
  position: relative;
  width: 376px;
  height: 170px;
  background: #f9f9f9;
  box-shadow: 0px 4px 24px rgba(80, 80, 80, 0.5);
  border-radius: 8px;
}
.btn-back {
  display: inline-block;
  margin-right: 5%;
  padding-top: 10px;
  margin-top: 5%;
  background: linear-gradient(180deg, #bdbdbd -20.63%, #787878 100%);
  box-shadow: 0px 3px 12px rgba(50, 50, 50, 0.35);
  border-radius: 62px;
  width: 360px;
  height: 100px;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  line-height: 80px;
  color: #fff;
}
.btn_succes {
  background: linear-gradient(180deg, #84b33e -20.63%, #487724 100%) !important;
}
.btn {
  margin-top: 5%;
  background: linear-gradient(
    180deg,
    rgba(189, 189, 189, 0.3) -20.63%,
    rgba(120, 120, 120, 0.3) 100%
  );
  box-shadow: 0px 3px 12px rgba(50, 50, 50, 0.35);
  border-radius: 62px;
  width: 360px;
  height: 100px;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  line-height: 80px;
  color: #fff;
}
.page-4-h1 {
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 60px;
  text-align: center;
  margin: 5%;
}
</style>