<template>
  <div class="animated fadeIn">
    <div class="bg-img-con">
      <img class="bg-img animated" src="../assets/img/Background.png" alt />
    </div>

    <div
      class
      style="margin-left: -500px;position: absolute;
    width:1000px;
    top: 10%;
    left: 50%;"
    >
      <h1 class="page-9-text">
        {{this.checkRes()}}
      </h1>
    </div>

    <input v-model="company" class="input" type="text" placeholder="Назва компанії" />
    <input v-model="name" class="input" style="top: 57%;" type="text" placeholder="Ваше ім'я" />
    <input v-model="phone" class="input" style="top: 69%;" type="text" v-mask="'+(###) ###-##-##'" placeholder="Номер телефону"/>

    <div class="btn" @click="goToPage1">Надіслати</div>
  </div>
</template>

<script>
import { db } from "../main";
import { createNamespacedHelpers } from "vuex";
const {  mapActions: mapSmartTenderActions, mapGetters: mapSmartTenderGetters } = createNamespacedHelpers(
  "smartTender"
);
export default {
  name: "Page11",
  data: function() {
    return {
      name: "",
      company: "",
      phone:""
    };
  },
  methods: {
    ...mapSmartTenderActions(['clearSmartTender']),
    goToPage1() {
      this.clearSmartTender()
      this.addUser(this.company, this.name, this.phone);
    },
    addUser(company, name, phone) {
      const createdAt = new Date();
      db.collection("final").add({ company, name, phone, createdAt });
      this.$router.push("/");
    },
    checkRes(){
      const res = (this.getSmartTender.res * 100)/12
      //eslint-disable-next-line
      console.log(res)
      if(res > 70) {
        return 'Ваша інтуїція вражає! Ми надаємо вам місяць безкоштовних комерційних торгів на нашому майданчику. Введіть свій email, щоб почати перемагати разом зі SmartTender.'
      } else {
        return 'Хотіли б використовувати інструмент SmartTender для прогнозування власних перемог у торгах? Залиште свій email — і ми розповімо про інтеграцію аналогічної моделі для успіху вашого бізнесу.'
      }
    }
  },
  computed: {
    ...mapSmartTenderGetters(["getSmartTender"])
  }
};
</script>

<style scoped>
.input {
  position: absolute;

  top: 45%;
  left: 50%;
  display: block;
  margin-left: -245px;
  width: 490px;
  height: 100px;
  background: linear-gradient(148.62deg, #ffffff 50.85%, #cecece 125.03%);
  box-shadow: 0px 4px 20px rgba(56, 56, 56, 0.64);
  border-radius: 70px;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  color: rgba(0, 0, 0, 0.64);
}
.input:focus {
  outline: none;
}
.btn {
  position: absolute;

  top: 85%;
  left: 50%;
  margin-left: -180px;
  background: linear-gradient(180deg, #84b33e -20.63%, #487724 100%);
  box-shadow: 0px 3px 12px rgba(50, 50, 50, 0.35);
  border-radius: 61px;
  width: 360px;
  height: 100px;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  line-height: 80px;
  color: #fff;
}
.page-9-text {
  margin-left: -640px;
  margin: 0 auto;
  width: 100%;
  margin-top: 5%;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}
.home_logo {
  margin-top: 35%;
}

h1 {
  font-family: GothamPro, sans-serif;
}
.try-btn {
  margin-top: 20%;
  background: linear-gradient(180deg, #84b33e -20.63%, #487724 100%);
  box-shadow: 0px 3px 12px rgba(50, 50, 50, 0.35);
  border-radius: 124px;
  width: 720px;
  height: 200px;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  text-align: center;
  line-height: 190px;
}
.try-btn:hover {
  cursor: pointer;
  background: linear-gradient(180deg, #84b33e -20.63%, #4ba66c 100%);
}
.bg-img-con {
  width: 100%;
  left: 50%;
  margin-left: -550px;
  position: relative;
  animation: infiniteScrollBg 30s infinite linear;
}
.bg-img-con:after {
  content: "";
  height: 500%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../assets/img/Background.png");
  background-size: 100% 20%;
}
.bg-img {
  width: 100%;
}
@keyframes infiniteScrollBg {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-200%);
  }
}
</style>