<template>
  <div class="bg">
    <div class="container" >
      <router-view />
    </div>
  </div>
  
</template>

<script>
export default {
  name: 'app',
  components: {}
}
</script>

<style >
/*@import './assets/css/animate.module.css';

@import './assets/css/styles.css*/
</style>
